.productItem .title{
    line-height: 18px;
}

.productItem .actions button:hover svg{
    color: #fff !important;
}

.productItem .actions button svg{
    pointer-events: none !important;
}

.heartBtn {
    color: rgba(255,255,255,0.9) !important;
  }

  