@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  /* --font-family: "Roboto", serif; */
  /* --font-family: "Assistant", serif; */
  --font-family: "Inter", "Inter Fallback";
  --letter-spacing: 0px;
  /* --word-spacing: 1px; */
  --bg-primary: rgb(255, 82, 82);
  --off-color: rgb(255, 119, 0);
  --rating-star-color: rgb(0, 143, 100);
  --text-dark: #282c3f;
  --text-light: rgb(163, 160, 156);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family) !important;
}



body {
  /* font-family: var(--font-family) !important; */
  /* Apply letter spacing */
  /* letter-spacing: var(--letter-spacing) !important;  */
  font-optical-sizing: auto !important;
  background: #f5f0f0;
  color: var(--text-dark) !important;
  overflow-x: hidden;
}

p{
  font-size: 16px;
  line-height: 26px;
}

/* ---------- Scroll-bar ------------- */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  box-shadow: rgba(96, 96, 96, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3) !important;
}

.customScroll::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

.customScroll::-webkit-scrollbar-track {
  box-shadow: rgba(96, 96, 96, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
  border-radius: 15px;
}

.customScroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3) !important;
  cursor: pointer;
  border-radius: 15px;
}


/* --------  Top strip of Page -------- */
.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: var(--bg-primary) !important;
}

.MuiBadge-badge {
  background: var(--bg-primary) !important;
}

button {
  font-family: var(--font-family) !important;
  /* letter-spacing: var(--letter-spacing) !important; */
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button:hover {
  background: none !important;
}


/* ---------- Big Banner Slider ---------- */
/* .sliderHome {
  overflow: inherit !important;
} */

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 45px;
  height: 45px;
  min-width: 45px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px !important;
  font-weight: bold;
  color: #000;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--bg-primary) !important;
  opacity: 1;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #fff !important;
}

/* Hide disabled buttons */
.productDetailImageOptions .swiper-button-prev.swiper-button-disabled,
.productDetailImageOptions .swiper-button-next.swiper-button-disabled {
    display: none !important;
}


.swiper-pagination-bullet {
  width: 12px !important;
  /* Increase width */
  height: 12px !important;
  /* Increase height */
}

.swiper-pagination-bullet-active-main {
  background: var(--bg-primary) !important;
  width: 12px !important;
  /* Slightly larger for the active bullet */
  height: 12px !important;
}


/* -----  Buttons on homeSliderV2 prev & next   --------- */
.homeSliderV2 .swiper-button-prev {
  opacity: 0;
  left: -20%;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.homeSliderV2:hover .swiper-button-prev {
  opacity: 1;
  left: 3%;
  /* Move to the visible position */
}

.homeSliderV2 .swiper-button-next {
  opacity: 0;
  right: -20%;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.homeSliderV2:hover .swiper-button-next {
  opacity: 1;
  right: 3%;
  /* Move to the visible position */
}


/* -------   text on HomeBannerV2   ------- */
.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 1s;
  transition-delay: 200ms;
}

.homeSliderV2 .info h2 {
  transition-duration: 1s;
  transition-delay: 400ms;
}

.homeSliderV2 .info h3 {
  transition-duration: 1s;
  transition-delay: 600ms;
}

.homeSliderV2 .info .btn_ {
  transition-duration: 1s;
  transition-delay: 800ms;
}


/* ---------- Product Category Slider ---------- */
.homeCatSlider .swiper {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
  font-size: 18px !important;
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}

.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

.smallBtn .swiper-button-prev,
.smallBtn .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
  top: 55% !important;
}

.smallBtn .swiper-button-prev::after,
.smallBtn .swiper-button-next::after {
  font-size: 18px !important;
}

.img-box {
  width: 350px;
  /* Set container width */
  height: 200px;
  /* Set container height */
  overflow: hidden;
  /* Prevent the image from overflowing outside */
  position: relative;
  /* Ensure proper positioning */
}

.scalable-image {
  width: 100%;
  /* Ensure the image spans the container */
  height: 100%;
  /* Maintain image size within the container */
  object-fit: cover;
  /* Prevent distortion */
  transition: transform 0.3s ease-in-out;
  /* Smooth scaling effect */
}

.img-box:hover .scalable-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


/* ------- Vertical Line ------- */
.line {
  position: relative;
  height: 35px;
  /* Adjust the height as needed */
  width: 1px;
  /* Make the line thinner */
  background-color: #ccc;
  /* Set the line color */
}

.line::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  /* Centers the line */
  background-color: #ccc;
  /* Line color */
}

/* ----------------------------------------------- */
.css-1qltlow-MuiTabs-indicator {
  background-color: var(--bg-primary) !important;
}

.css-1ogu3w6-MuiButtonBase-root-MuiTab-root.Mui-selected  {
  color: var(--bg-primary) !important;
}

.productSlider .swiper-wrapper {
  padding: 15px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 35px;
}

/* styles.css */
.custom-textfield .MuiOutlinedInput-root {
  border-color: gray;
}

.custom-textfield .MuiInputLabel-root {
  color: gray;
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused {
  border-color: var(--bg-primary) !important;
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
  color: var(--bg-primary) !important;
}

.custom-textfield .MuiFormLabel-root {
  color: gray;
}

.custom-textfield legend {
  color: gray;
  border-color: gray;
  /* Ensure the legend starts with the gray border */
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--bg-primary) !important;
  /* Apply bg-primary border on focus */
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
  color: var(--bg-primary) !important;
  /* Change label text color to bg-primary on focus */
}

.custom-textfield input:focus {
  outline: none;
  border-color: var(--bg-primary) !important;
}

/* -------  Checkbox  ------ */
/* Target the label when checkbox is checked */
.Mui-checked {
  color: var(--bg-primary) !important;
  /* Optional: to change the text color */
}

.MuiCheckbox-root{
  padding: 6px !important;
}

.rootColorLabelUnchecked .MuiFormControlLabel-label {
  color: #000;
}

.rootColorLabelChecked .MuiFormControlLabel-label {
  color: #ff0000 !important;
}

/* ------- ProductListing Collapse --------- */
.ReactCollapse--collapse {
  transition: height 500ms;
}

.ReactCollapse--collapse {
  transition: height 500ms;
  margin-left: -14px;
}

.ReactCollapse--content{
  padding-left: 14px; /* You can adjust this padding as necessary */
}

.range-slider__thumb, .range-slider__range{
  background: var(--bg-primary) !important;
}

.range-slider{
  height: 4px !important;
}

.range-slider__thumb{
  width: 16px !important;
  height: 16px !important;
}

.range-slider__thumb:hover, .range-slider__thumb:active{
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #767676 !important;
}

/* ------   Flip Image in ProductItem   ---------------- */
/* For the flip container */
.flip-container {
  perspective: 1000px; /* Create a 3D effect */
}

/* On hover, front image should fade out and rotate */
.flip-container:hover .front-image {
  transform: rotateY(180deg); /* Rotate the front image */
  opacity: 0; /* Fade out the front image */
}

/* On hover, back image should rotate into view */
.flip-container:hover .back-image {
  transform: rotateY(0deg); /* Rotate the back image to the front */
  opacity: 1; /* Fade in the back image */
}

/* Hide the back face when not rotated */
.front-image,
.back-image {
  transition: transform 0.8s, opacity 0.8s; /* Smooth transition for flip and opacity */
  position: absolute;
  backface-visibility: hidden; /* Hide the back of the element */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1; /* Ensure both images are visible initially */
}

/* Front image should initially be visible and not rotated */
.front-image {
  transform: rotateY(0deg); /* Front image starts facing forward */
}

/* Back image should initially be hidden (rotated by 180deg) */
.back-image {
  transform: rotateY(180deg); /* Initially, the back image is hidden */
  opacity: 0; /* Back image is hidden at the start */
}


/* --------------- DropDown in sort in ProductListing -------------------- */

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root{
  font-family: var(--font-family) !important;
}

/* ----- Blink button ------- */
.blink-button {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    color: rgb(0, 166, 22);
  }
  50% {
    color: rgb(0, 34, 255);
  }
  100% {
    opacity: 1;
    color: var(--bg-primary);
  }
}


/* ------ Pagination hover color --------- */
.css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--bg-primary) !important;
  color: #fff;
}


/* ---------------Button Primary Black  ---------------------- */
.buttonPrimaryBlack{
  background: var(--bg-primary) !important;
  color: #fff !important;
}

.buttonPrimaryBlack:hover{
  background: rgba(0,0,0,0.8) !important;
  color: #fff !important;
}
.buttonPrimaryWhite{
  background: #ffffff !important;
  color: var(--bg-primary) !important;
  border: 2px var(--bg-primary) solid !important;
}

.buttonPrimaryWhite:hover{
  background: rgba(0,0,0,0.8) !important;
  color: #fff !important;
  border: 2px solid gray !important;
}

/* ---------------Button Primary Black  ---------------------- */
.buttonDisabled{
  background: #fec5ae !important;
  color: #ffffff !important;
}

/* ---------------Button Circular  ---------------------- */
button .MuiCircularProgress-root{
  width: 26px !important;
  height: 26px !important;
}

/* --------- ProductDetails ----------- */


.iiz {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}


.iiz div {
  height: inherit !important;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.iiz div .iiz__img { /* Use the correct class */
  height: inherit !important;
  width: auto;
  object-fit: contain !important;
}

.iiz__zoom-img--visible{
  cursor: crosshair !important;
}

.productDetailImageOptions {
  position: relative !important;
  overflow: hidden !important;
}

/* Fix buttons inside the container */
.productDetailImageOptions .swiper-button-prev,
.productDetailImageOptions .swiper-button-next {
  position: absolute !important;
  background: var(--bg-primary) !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  z-index: 10 !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

/* Place the prev button at the top */
.productDetailImageOptions .swiper-button-prev {
  top: 0 !important;
  bottom: inherit !important;
  width: 100% !important;
  height: 30px !important;
  left: inherit !important;
}

/* Place the next button at the bottom */
.productDetailImageOptions .swiper-button-next {
  bottom: 0 !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  right: inherit !important;
}

.productDetailImageOptions .swiper-button-prev::after{
  transform: rotate(90deg);
  color: #fff !important;
  font-size: 18px !important;
}

.productDetailImageOptions .swiper-button-next::after{
  transform: rotate(90deg);
  color: #fff !important;
  font-size: 18px !important;
}

.MuiTypography-root, .css-5cvx94-MuiTypography-root-MuiBreadcrumbs-root{
  font-family: var(--font-family) !important;
  letter-spacing: var(--letter-spacing) !important;
}

.productContent .actions button{
  font-size: 14px !important;
  font-weight: 500 !important;
  min-width: 40px !important;
  height: 40px !important;
  color: #000 ;
  border: 1px solid rgba(0, 0, 0, 0.2);
} 

.productContent .actions button:hover{
  border: 1px solid var(--bg-primary);
}

.productDetailsModalContainer .actions button{
  font-size: 14px !important;
  font-weight: 500 !important;
  min-width: 40px !important;
  height: 40px !important;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
} 

.productDetailsModalContainer .actions button:hover{
  border: 1px solid var(--bg-primary);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.qtyBox button{
  /* min-width: 40px !important; */
  width: 20px !important;
  height: 20px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: var(--text-dark);
  border-radius: 0px !important;
}

.MuiTextField-root{
  color: var(--bg-primary) !important;
}

#basic-menu .MuiButtonBase-root{font-size: 12px !important;}

.otpBox input{
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}
.otpBox input:focus{
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}
.otpPage .container{
  height: 90vh;
  display: flex;
}


.myAccountTabs li a{position: relative; display: block;}
.myAccountTabs li a:before{content: ''; width: 3px; height: 50%; position: absolute; top: 50%x; left: 0px; background: var(--bg-primary); transition: all 0.3s ease-in-out; opacity: 0;}
.myAccountTabs li a.active::before{height: 100%; opacity: 1; top: 0px;}
.myAccountTabs li a.active button svg{color: var(--bg-primary) !important; opacity: 1 !important;}


.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  height: 40px !important;
  border-radius: 0px 6px 6px 0px !important;
  font-size: 16px !important;
  -webkit-border-radius: 0px 6px 6px 0px !important;
  -moz-border-radius: 0px 6px 6px 0px !important;
  -ms-border-radius: 0px 6px 6px 0px !important;
  -o-border-radius: 0px 6px 6px 0px !important;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  padding: 0px 5px !important;
  height: 40px !important;
  border-radius: 6px 0px 0px 6px !important;
  -webkit-border-radius: 6px 0px 0px 6px !important;
  -moz-border-radius: 6px 0px 0px 6px !important;
  -ms-border-radius: 6px 0px 0px 6px !important;
  -o-border-radius: 6px 0px 0px 6px !important;
}

.searchBox .MuiCircularProgress-root, .suggestionBox .MuiCircularProgress-root{
  color: var(--bg-primary) !important;
  width: 20px !important;
  height: 20px !important;
}

.placeholder-wrapper {
  position: relative;
}

.placeholder-text {
  position: absolute;
  top: 0;
  left: 78px;
  height: 35px;
  padding: 8px;
  font-size: 15px;
  /* color: #fb5455; */
  pointer-events: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.placeholder-text.animate {
  opacity: 1;
  animation: swipeDown 0.4s ease-in-out forwards;
}

@keyframes swipeDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.css-y7ab46-MuiPaper-root-MuiDrawer-paper{ width: 400px !important; }